
# Medion Digital Ink Pad Conversion and Synchronisation
ATTRS{model}=="Pen Pad storage ", NAME="PenPadStorage", RUN+="/home/tim/Bureaublad/inkpad/trunk/scripts/inkpad_import.pl"

